@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
body {
    background-image: url("https://i.pinimg.com/736x/b1/67/e0/b167e054f363bf57e18b964809ece2c6.jpg");
    background-size: cover;
}

#container {
    display: flex;
    flex-direction: column;
    border-style: solid;
    background-color: white;
    width: 550px;
    height: 550px;
}

.rowcell{
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-basis: auto;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: "Seymour One";
    font-size: 20px;
}
.btn-right, .btn-left, .sketch{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#btn {
    margin: 10px;
    font-size: 20px;
    font-family: 'Lexend Deca', sans-serif;
    border-radius: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}